@import 'breakpoint';
@import 'singularitygs';
@import 'toolkit';
@import 'compass/css3/images';


@include add-grid(12);
@include add-gutter(1/3);

* { box-sizing: border-box;}

$grey: rgb(249,249,249);
$dark-grey: rgb(158,158,158);
$color: rgb(255,252,243);
$heading-bg: rgb(64,117,159); 
$study-bg: rgb(77,144,197);
$nav-color: rgb(82,149,204);
$date-bg-color: rgb(123,173,74);

svg {
	fill : $date-bg-color
}


body {
	width: 1400px;
	margin: 0 auto;
	font-family: sans-serif;
}


#logo {
	width: 445px;
	max-height: 113px;
	float: left;
}



header {
	@include grid-span(12,1);
	background: $grey;
	.navigation {
		color: $dark-grey;
		background-color: $grey;
		float: left;
		a {
			text-decoration: none;
			color: $dark-grey;
		}
	}
}



ul.navigation li.login a{
	color: $date-bg-color;
	background: url(../images/login.svg);
	background-repeat: no-repeat;
	background-position: left top;
	background-size: 17px 17px;	

	padding-left: 20px;
}


.navigation li {
	display: inline;
}

nav ul {
	list-style-type: none;
	a {
		text-decoration: none;
	}
}
nav ul.main-nav {
	@include grid-span(8,1);
	padding: 10px 0;
	margin: 0;
	background-color: $nav-color;
	a {
		text-decoration: none;
		color: $color;
	}
}

nav ul.second-nav {
	@include grid-span(4,9);
	background-color: $color;
	a {
		color: $nav-color;
	}
}

.nav-item-1 {
	@include grid-span(3,1);
}
.nav-item-2 {
	@include grid-span(3,4);
}
.nav-item-3 {
	@include grid-span(3,7);
}
.nav-item-4 {
	@include grid-span(3,10);
}
.nav-item-5 {
	// @include grid-span(2,9);
}
.nav-item-6 {
	// @include grid-span(2,11);
}

.search {
	background-color: lightgrey;
	padding: 5px;
	padding-left: 20px;
	padding-right: 40px;
	background-image: url(../images/magnifying.svg);
	background-repeat: no-repeat;
	background-position: 95%;	
	background-size: 25px 25px;
}

.flexslider .slides img {
	max-width:800px;
	max-height: 400px;
	float:left;
}

.flex-caption {
	display: inline-block;
	padding-left: 20px;
	width: 500px;
	height: 100%;
}
.flexsliderwrapper {
    position: relative; /* Since we're positioning the flex-control-paging element within this div */
    border: 1px solid red;

}

ol.flex-control-paging {
    z-index: 99;
    list-style: none;
    position: absolute;
    right: 18px;
    bottom: 18px;
    }

ol.flex-control-paging li {
    display:-moz-inline-stack;
    display:inline-block;
    zoom:1;
    margin: 0 7px;
    }

ol.flex-control-paging li a {
    text-indent: -999999px;
    display: block;
    background: #bec5ca;
    font-size: 2.5em;
    text-shadow: 0 1px 0 #fff;
    width: 11px; height: 11px;
    -moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px;
    cursor: pointer;
    }

ol.flex-control-paging li a.flex-active {
    background: #455560;
    }

.slider-button {
	position: absolute;
	bottom: 40px;
}

img {
	max-height: 250px;
}



.container {
	border-bottom: 2px solid rgb(229,229,299);
	padding-bottom: 4em;
	@include grid-span(12,1);
	@include filter-gradient(#03207c, #1e5799, vertical); // IE6-9
	@include background-image(linear-gradient(bottom,
		rgba(243,243,243,1) 0px,
		rgba(243,243,243, 0.01) 40px));
}

.feature {
	margin-top: 2em;
}

.feature-img {
	@include grid-span(5,1);

}

.feature-content {
	margin: auto 0;
	@include grid-span(7,6);
	h2 {
		display: inline-block;
		color: $color;
		background-color: $heading-bg;
	}
}

.news {
	padding-top: 40px;
	@include grid-span(12,1);
}

.news h2 {
	font-size: 12pt;
	position: relative;
	top: -40px;
	display: inline;
	background-color: $heading-bg;
	color: $color;
	padding: 0 1em;
}

.news-item-1 {
	@include grid-span(4,1);
}

.news-item-2 {
	@include grid-span(4,5);
}

.news-item-3 {
	@include grid-span(4,9);
}

.products {
	padding-top: 40px;
	@include grid-span(12,1);
}

.products h2 {
	font-size: 12pt;
	position: relative;
	top: -40px;
	display: inline;
	background-color: $heading-bg;
	color: $color;
	padding: 0 1em;
}

.product {
	position:relative;
	h3 , p {
		position: absolute;
		color: white;
		z-index: 2;
	}
	h3 {
		// font-size: 25pt;
		top: 100px;
		font-size : 1.5em;
	}
	p {
		top: 180px;
		font-size : 1em;
	}
}

.product-item-1 {
	@include grid-span(4,1);
}

.product-item-2 {
	@include grid-span(4,5);
}

.product-item-3 {
	@include grid-span(4,9);
}

.p-img img {
	@include grid-span(12,1);
}

.p-img::after {
	content: " ";
	width: 250px;
	height: 100px;
	background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
	// left: 8px;
	top: 150px;
	position: absolute;
	z-index: 1;
	@include grid-span(12,1);
}

.product-sub-1 {
	float: left;
}

.product-sub-2 {
	float: right;
}

	
.product-rule {
	clear: right;
	position: relative;
	top: 10px;
	height: 3px;
	width: 100%;
	background-color: $date-bg-color;
}

.clearfix::before {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0px;
}

.lang-selected {
	background-color: $nav-color;
	color: $color;

	padding: 3px 7px;
}

.dates, .bio-news, .ipbes-news {
	ul {
		height: 280px;
		list-style-type: none;
		padding :0px;
		h3 {
			background-color: $date-bg-color;
			color: $color;
			font-size: 1em;
			padding-left: 1em;
			padding-top: .7em;
			padding-bottom: .7em;
			background-image: url(../images/map.png);
			background-repeat: no-repeat;
    		background-position: 100% 95% ;	
    		background-size: 35px 35px;
		}
	}
}

.dates {
	@include grid-span(4,1);
	h2 {
		font-size: 12pt;
		position: relative;
		// top: -40px;
		display: inline;
		background-color: $heading-bg;
		color: $color;
		padding: 0 1em;
	}
}

.bio-news {
	@include grid-span(4,5);
		h2 {
		font-size: 12pt;
		position: relative;
		// top: -40px;
		display: inline;
		background-color: $heading-bg;
		color: $color;
		padding: 0 1em;
	}
}

.ipbes-news {
	@include grid-span(4,9);
		h2 {
		font-size: 12pt;
		position: relative;
		// top: -40px;
		display: inline;
		background-color: $heading-bg;
		color: $color;
		padding: 0 1em;
	}
}

.studies {
	margin-top: 20px;

	h2 {

		font-size: 12pt;
		position: relative;
		top: -20px;
		display: inline;
		background-color: $heading-bg;
		color: $color;
		padding: 0 1em;
	}
}

.study-item {
	background-color: $nav-color;
	color: $color;
	// padding: 1px 1em;
	height: 7em;
	// padding: 0px 13px;
	h3 {
		vertical-align: middle;
	}
}

.study-item-1 {
	@include grid-span(3,1, $gutter: 0.15);	
}
.study-item-2 {
	@include grid-span(3,4, $gutter: 0.15);	
}
.study-item-3 {
	@include grid-span(3,7, $gutter: 0.15);	
}
.study-item-4 {
	@include grid-span(3,10, $gutter: 0.15);	
}

.interview-image {
	@include grid-span(5,1);
	img {
		max-width: 100%;
		max-height: 350px;
	}
}

.interview-content {
	@include grid-span(7,6)	;

	

}

.button {
		background-color: $date-bg-color;
		border-radius: 10px;
		padding: 10px 30px;
		color: $color;
}

.interview {
	padding-top: 20px;	
	h2 {
		margin-top: 0px;
		font-size: 16pt;
		display: inline-block;
		background-color: $heading-bg;
		color: $color;
	}
	h3 {
		font-size: 20pt;
	}

	.highlight {
		color: $nav-color;
		font-weight: bold;
	}
	
	.interview-links {
		@include grid-span(7,6);
		position: relative;
		bottom: 5px;
	}

	.last-chevron {
		color : grey;
	}
}

.footer {
	@include grid-span(12,1);
	padding-top: 20px;
	padding-bottom: 20px;

	@include layout(5) {
		a {
			@include float-span(1);
		}
		a:last-child {
			@include float-span(1, 'last');
		}
		
	}
	
	a {
		color: #999999;
		text-decoration: none;
		font-size: 16pt;
	}
	
	a img{
		vertical-align: middle;
	}
	img {
		margin-right: 20px;
		width: 50px;
	}


}

.color-rule {
	height: 3px;
	@include grid-span(12,1);
	background-color: rgb(66,145,163); // Old browsers
	@include filter-gradient(#4291a3, #7eb24b, horizontal); // IE6-9
	@include background-image(
		linear-gradient(left,
			rgba(66,145,163,1) 0%,
			rgba(67,126,182,1) 30%,
			rgba(172,204,68,1) 60%,
			rgba(126,178,75,1) 100%));
}

.sitemap {
	background-color: $grey;
	ul {
		list-style-type: none;
		padding: 0 0;
	}
	li {
		color: $nav-color;
		font-weight: bold;
	}
}
.sitemap-1 {
	@include grid-span(2,1);
}

.sitemap-2 {
	@include grid-span(2,3);
}

.sitemap-3 {
	@include grid-span(2,5);
}

.sitemap-4 {
	@include grid-span(2,7);
}

.sitemap-5 {
	@include grid-span(2,9);
}

.sitemap-6 {
	@include grid-span(2,11);
}

#bmbf {

	width: 100%;
}