$palette-gray: hsl(0, 0, 60);
$palette-green: hsl(90, 42, 50);
$palette-white: #FFF;

$button-bg-color: $palette-green;
$button-color: $palette-white;

$login-color: $palette-green;

$nav_color: $palette-gray;