$palette-gray: hsl(0, 0, 60);
$palette-green: hsl(90, 42, 50);
$palette-white: #FFF;

$button-bg-color: $palette-green;
$button-color: $palette-white;

$login-color: $palette-green;

$nav_color: $palette-gray;

$heading-color : white;
$heading-bg: rgb(64,117,159);

$slides-bg: rgb(239,244, 248);

$kuller-color: white;
$kuller-inner-color: white;
$kuller-outer-color: #4e96d1;
$kuller-middle-color: #3975a7;