/* line 10, ../sass/my_style.scss */
body .main {
  width: 960px;
  margin: 0 auto;
}

/* line 15, ../sass/my_style.scss */
.left-bar {
  width: 20%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
}

/* line 18, ../sass/my_style.scss */
.container {
  width: 73.33333%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}

/* line 22, ../sass/my_style.scss */
.content-area-1 {
  width: 20%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
}

/* line 25, ../sass/my_style.scss */
.content-area-2 {
  width: 20%;
  float: left;
  margin-right: -100%;
  margin-left: 26.66667%;
  clear: none;
}

/* line 28, ../sass/my_style.scss */
.content-area-3 {
  width: 20%;
  float: left;
  margin-right: -100%;
  margin-left: 53.33333%;
  clear: none;
}

/*
@include breakpoint(600px) {
	.left-bar {
		@include grid-span(1,1);
	}
	.content-area {
		@include grid-span(2,2);
	}
}
*/
