/* line 10, ../sass/nefo_style.scss */
* {
  box-sizing: border-box;
}

/* line 20, ../sass/nefo_style.scss */
svg {
  fill: #7bad4a;
}

/* line 25, ../sass/nefo_style.scss */
body {
  width: 1400px;
  margin: 0 auto;
  font-family: sans-serif;
}

/* line 32, ../sass/nefo_style.scss */
#logo {
  max-width: 320px;
  max-height: 100px;
  float: left;
}

/* line 40, ../sass/nefo_style.scss */
header {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  background: #f9f9f9;
}
/* line 43, ../sass/nefo_style.scss */
header .navigation {
  color: #9e9e9e;
  background-color: #f9f9f9;
  float: left;
}
/* line 47, ../sass/nefo_style.scss */
header .navigation a {
  text-decoration: none;
  color: #9e9e9e;
}

/* line 54, ../sass/nefo_style.scss */
ul.navigation li.login a {
  color: #7bad4a;
  background: url(../images/login.svg);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 17px 17px;
  padding-left: 20px;
}

/* line 65, ../sass/nefo_style.scss */
.navigation li {
  display: inline;
}

/* line 69, ../sass/nefo_style.scss */
nav ul {
  list-style-type: none;
}
/* line 71, ../sass/nefo_style.scss */
nav ul a {
  text-decoration: none;
}

/* line 75, ../sass/nefo_style.scss */
nav ul.main-nav {
  width: 65.95745%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
  padding: 10px 0;
  margin: 0;
  background-color: #5295cc;
}
/* line 80, ../sass/nefo_style.scss */
nav ul.main-nav a {
  text-decoration: none;
  color: #fffcf3;
}

/* line 86, ../sass/nefo_style.scss */
nav ul.second-nav {
  width: 31.91489%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  background-color: #fffcf3;
}
/* line 89, ../sass/nefo_style.scss */
nav ul.second-nav a {
  color: #5295cc;
}

/* line 94, ../sass/nefo_style.scss */
.nav-item-1 {
  width: 23.40426%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
}

/* line 97, ../sass/nefo_style.scss */
.nav-item-2 {
  width: 23.40426%;
  float: left;
  margin-right: -100%;
  margin-left: 25.53191%;
  clear: none;
}

/* line 100, ../sass/nefo_style.scss */
.nav-item-3 {
  width: 23.40426%;
  float: left;
  margin-right: -100%;
  margin-left: 51.06383%;
  clear: none;
}

/* line 103, ../sass/nefo_style.scss */
.nav-item-4 {
  width: 23.40426%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}

/* line 114, ../sass/nefo_style.scss */
img {
  max-height: 250px;
}

/* line 120, ../sass/nefo_style.scss */
.container {
  border-bottom: 2px solid #e5e5ff;
  padding-bottom: 4em;
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF03207C', endColorstr='#FF1E5799');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YzZjNmMyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2YzZjNmMyIgc3RvcC1vcGFjaXR5PSIwLjAxIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #f3f3f3), color-stop(100%, rgba(243, 243, 243, 0.01)));
  background-image: -moz-linear-gradient(bottom, #f3f3f3 0px, rgba(243, 243, 243, 0.01) 40px);
  background-image: -webkit-linear-gradient(bottom, #f3f3f3 0px, rgba(243, 243, 243, 0.01) 40px);
  background-image: linear-gradient(to top, #f3f3f3 0px, rgba(243, 243, 243, 0.01) 40px);
}

/* line 130, ../sass/nefo_style.scss */
.feature {
  margin-top: 2em;
}
/* line 132, ../sass/nefo_style.scss */
.feature h2 {
  display: inline;
  background-color: #40759f;
  color: #fffcf3;
}

/* line 140, ../sass/nefo_style.scss */
.feature-img {
  width: 40.42553%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
}

/* line 144, ../sass/nefo_style.scss */
.feature-content {
  margin: auto 0;
  width: 57.44681%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}

/* line 149, ../sass/nefo_style.scss */
.news {
  padding-top: 40px;
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}

/* line 154, ../sass/nefo_style.scss */
.news h2 {
  font-size: 12pt;
  position: relative;
  top: -40px;
  display: inline;
  background-color: #40759f;
  color: #fffcf3;
  padding: 0 1em;
}

/* line 164, ../sass/nefo_style.scss */
.news-item-1 {
  width: 31.91489%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
}

/* line 168, ../sass/nefo_style.scss */
.news-item-2 {
  width: 31.91489%;
  float: left;
  margin-right: -100%;
  margin-left: 34.04255%;
  clear: none;
}

/* line 172, ../sass/nefo_style.scss */
.news-item-3 {
  width: 31.91489%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}

/* line 176, ../sass/nefo_style.scss */
.products {
  padding-top: 40px;
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}

/* line 181, ../sass/nefo_style.scss */
.products h2 {
  font-size: 12pt;
  position: relative;
  top: -40px;
  display: inline;
  background-color: #40759f;
  color: #fffcf3;
  padding: 0 1em;
}

/* line 191, ../sass/nefo_style.scss */
.product {
  position: relative;
}
/* line 193, ../sass/nefo_style.scss */
.product h3, .product p {
  position: absolute;
  color: white;
  z-index: 2;
}
/* line 198, ../sass/nefo_style.scss */
.product h3 {
  top: 100px;
  font-size: 1.5em;
}
/* line 203, ../sass/nefo_style.scss */
.product p {
  top: 180px;
  font-size: 1em;
}

/* line 209, ../sass/nefo_style.scss */
.product-item-1 {
  width: 31.91489%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
}

/* line 213, ../sass/nefo_style.scss */
.product-item-2 {
  width: 31.91489%;
  float: left;
  margin-right: -100%;
  margin-left: 34.04255%;
  clear: none;
}

/* line 217, ../sass/nefo_style.scss */
.product-item-3 {
  width: 31.91489%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}

/* line 221, ../sass/nefo_style.scss */
.p-img img {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}

/* line 225, ../sass/nefo_style.scss */
.p-img::after {
  content: " ";
  width: 250px;
  height: 100px;
  background: linear-gradient(rgba(0, 0, 0, 0), #000000);
  top: 150px;
  position: absolute;
  z-index: 1;
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}

/* line 237, ../sass/nefo_style.scss */
.product-sub-1 {
  float: left;
}

/* line 241, ../sass/nefo_style.scss */
.product-sub-2 {
  float: right;
}

/* line 246, ../sass/nefo_style.scss */
.product-rule {
  clear: right;
  position: relative;
  top: 10px;
  height: 3px;
  width: 100%;
  background-color: #7bad4a;
}

/* line 255, ../sass/nefo_style.scss */
.clearfix::before {
  content: ".";
  clear: both;
  display: block;
  visibility: hidden;
  height: 0px;
}

/* line 263, ../sass/nefo_style.scss */
.lang-selected {
  background-color: #5295cc;
  color: #fffcf3;
  padding: 3px 7px;
}

/* line 271, ../sass/nefo_style.scss */
.dates ul, .bio-news ul, .ipbes-news ul {
  height: 280px;
  list-style-type: none;
  padding: 0px;
}
/* line 275, ../sass/nefo_style.scss */
.dates ul h3, .bio-news ul h3, .ipbes-news ul h3 {
  background-color: #7bad4a;
  color: #fffcf3;
  font-size: 1em;
  padding-left: 1em;
  padding-top: .7em;
  padding-bottom: .7em;
  background-image: url(../images/map.png);
  background-repeat: no-repeat;
  background-position: 100% 95%;
  background-size: 35px 35px;
}

/* line 290, ../sass/nefo_style.scss */
.dates {
  width: 31.91489%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
}
/* line 292, ../sass/nefo_style.scss */
.dates h2 {
  font-size: 12pt;
  position: relative;
  display: inline;
  background-color: #40759f;
  color: #fffcf3;
  padding: 0 1em;
}

/* line 303, ../sass/nefo_style.scss */
.bio-news {
  width: 31.91489%;
  float: left;
  margin-right: -100%;
  margin-left: 34.04255%;
  clear: none;
}
/* line 305, ../sass/nefo_style.scss */
.bio-news h2 {
  font-size: 12pt;
  position: relative;
  display: inline;
  background-color: #40759f;
  color: #fffcf3;
  padding: 0 1em;
}

/* line 316, ../sass/nefo_style.scss */
.ipbes-news {
  width: 31.91489%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}
/* line 318, ../sass/nefo_style.scss */
.ipbes-news h2 {
  font-size: 12pt;
  position: relative;
  display: inline;
  background-color: #40759f;
  color: #fffcf3;
  padding: 0 1em;
}

/* line 329, ../sass/nefo_style.scss */
.studies {
  margin-top: 20px;
}
/* line 332, ../sass/nefo_style.scss */
.studies h2 {
  font-size: 12pt;
  position: relative;
  top: -20px;
  display: inline;
  background-color: #40759f;
  color: #fffcf3;
  padding: 0 1em;
}

/* line 344, ../sass/nefo_style.scss */
.study-item {
  background-color: #5295cc;
  color: #fffcf3;
  height: 7em;
}
/* line 350, ../sass/nefo_style.scss */
.study-item h3 {
  vertical-align: middle;
}

/* line 355, ../sass/nefo_style.scss */
.study-item-1 {
  width: 24.17582%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
}

/* line 358, ../sass/nefo_style.scss */
.study-item-2 {
  width: 24.17582%;
  float: left;
  margin-right: -100%;
  margin-left: 25.27473%;
  clear: none;
}

/* line 361, ../sass/nefo_style.scss */
.study-item-3 {
  width: 24.17582%;
  float: left;
  margin-right: -100%;
  margin-left: 50.54945%;
  clear: none;
}

/* line 364, ../sass/nefo_style.scss */
.study-item-4 {
  width: 24.17582%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}

/* line 368, ../sass/nefo_style.scss */
.footer {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  padding-top: 20px;
  padding-bottom: 20px;
}
/* line 374, ../sass/nefo_style.scss */
.footer a {
  width: 15.78947%;
  clear: right;
  float: left;
  margin-left: 0;
  margin-right: 5.26316%;
}
/* line 377, ../sass/nefo_style.scss */
.footer a:last-child {
  width: 15.78947%;
  clear: right;
  float: right;
  margin-right: 0;
}
/* line 383, ../sass/nefo_style.scss */
.footer a {
  color: #999999;
  text-decoration: none;
  font-size: 16pt;
}
/* line 389, ../sass/nefo_style.scss */
.footer a img {
  vertical-align: middle;
}
/* line 392, ../sass/nefo_style.scss */
.footer img {
  margin-right: 20px;
  width: 50px;
}

/* line 400, ../sass/nefo_style.scss */
.color-rule {
  height: 3px;
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  background-color: #4291a3;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF4291A3', endColorstr='#FF7EB24B');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQyOTFhMyIvPjxzdG9wIG9mZnNldD0iNDAlIiBzdG9wLWNvbG9yPSIjNDM3ZWI2Ii8+PHN0b3Agb2Zmc2V0PSI3NSUiIHN0b3AtY29sb3I9IiNhY2NjNDQiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3ZWIyNGIiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #4291a3), color-stop(40%, #437eb6), color-stop(75%, #accc44), color-stop(100%, #7eb24b));
  background-image: -moz-linear-gradient(left, #4291a3 0%, #437eb6 40%, #accc44 75%, #7eb24b 100%);
  background-image: -webkit-linear-gradient(left, #4291a3 0%, #437eb6 40%, #accc44 75%, #7eb24b 100%);
  background-image: linear-gradient(to right, #4291a3 0%, #437eb6 40%, #accc44 75%, #7eb24b 100%);
}

/* line 413, ../sass/nefo_style.scss */
.sitemap {
  background-color: #f9f9f9;
}
/* line 415, ../sass/nefo_style.scss */
.sitemap ul {
  list-style-type: none;
  padding: 0 0;
}
/* line 419, ../sass/nefo_style.scss */
.sitemap li {
  color: #5295cc;
  font-weight: bold;
}

/* line 424, ../sass/nefo_style.scss */
.sitemap-1 {
  width: 14.89362%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
}

/* line 428, ../sass/nefo_style.scss */
.sitemap-2 {
  width: 14.89362%;
  float: left;
  margin-right: -100%;
  margin-left: 17.02128%;
  clear: none;
}

/* line 432, ../sass/nefo_style.scss */
.sitemap-3 {
  width: 14.89362%;
  float: left;
  margin-right: -100%;
  margin-left: 34.04255%;
  clear: none;
}

/* line 436, ../sass/nefo_style.scss */
.sitemap-4 {
  width: 14.89362%;
  float: left;
  margin-right: -100%;
  margin-left: 51.06383%;
  clear: none;
}

/* line 440, ../sass/nefo_style.scss */
.sitemap-5 {
  width: 14.89362%;
  float: left;
  margin-right: -100%;
  margin-left: 68.08511%;
  clear: none;
}

/* line 444, ../sass/nefo_style.scss */
.sitemap-6 {
  width: 14.89362%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}

/* line 448, ../sass/nefo_style.scss */
#bmbf {
  width: 100%;
}
