/*
Button

Markup:
	<div class="button {modifier}">My Button</div>
	<button class="button {modifier}">My Button</button>


*/

button,
.button {
  display: inline-block;
  padding: 10px 30px;
  border-radius: 5px;
  background-color: $button-bg-color;
  color: $button-color;
}