/*
Button

Markup:
	<div class="button {modifier}">My Button</div>
	<button class="button {modifier}">My Button</button>


*/

%button {
  display: inline-block;
  padding: 10px 30px;
  border-radius: 5px;
  background-color: $button-bg-color;
  color: $button-color;
}
button,
.button {
  @extend %button;
  a {
    text-decoration: none;
  }
}

a.button {
  @extend %button;
  text-decoration: none;
}