.news {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
}

.news h1 {
  font-size: 12pt;
  position: absolute;
  top: 0px;
  left: 20px;
  display: inline;
  background-color: $heading-bg;
  color: $heading-color;
  padding: 0 5px;
}

.news-item img {
  width: 100%;
}